from sympy import *
x = symbols("x")
f = e**x-12 + x+12
x0 = float(Initial Guess)
tol = float(0.0000000000001)
n = 10000
for i in range (n):
    x1 = x0-float(f.subs(x,x0)/diff(f,x).subs(x,x0))
    if abs(x1-x0) < tol:break
    x0 = x1
    print(x0)
print("The zero is "+str(x1)+ " at iteration "+str(i))
